html,
    body {
      position: relative;

    }

    body {
      background: #eee;
      font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
      font-size: 14px;
      color: #000;
      margin: 0;
      padding: 0;
    }

    swiper-container {
      width: 100%;
      height: 500px;
    }

    swiper-slide {

      font-size: 18px;
      background: #fff;
    }

    .h1{
        color: gray;
    }
    p{
        color: rgb(82, 78, 78);
    }
    .s{
        width: 1350px;
        margin: 0 auto;
    }
    .a{
        font-size: 60px;
        width: 590px;
    }
    img{
        width: 100%;
    }